{# src/Bundle/ChessBundle/Resources/views/Game/newplayer.html.twig #}
{% extends 'BundleChessBundle::index.html.twig' %}

{% block sidebar %}
	<div class="notation_wrapper">
		<div style="background:#fff; padding:20px; width:350px;border:1px solid #ccc;border-radius:15px;margin:20px;"> 
			<h1> Welcome {{player1}}! </h1>
			
			<p> If you would like to start a new game there are two options: 
				<ol>
					<li> 1. Play with someone next to you, enter their name and press Play with player 2. <br/> </li>
					<li> 2. Check  the list to see if there are any other players that wait for an opponent. <br/> </li>
				</ol>
			</p>
			<form action="{{ path('BundleChessBundle_game') }}" method="post" {{ form_enctype(form) }} class="players" id="playerform2" novalidate="novalidate">
		        {{ form_row(form.player2) }}
		        <input type="hidden" value="{{ player1 }}" name="player1"/>
				<input type="submit" name="submitFriend" value="Play with player 2" />
				<input type="submit" name="submitPending" value="Start multiplayer game" />
			</form>
			
		</div>
	<div id="players" style="background:#fff; padding:20px; width:350px;border:1px solid #ccc;border-radius:15px;margin:20px;"> 
		<h1> Players online </h1>
		
		 <ul>
            {% for index, value in loggedinplayers %}
                <li> {{ value }} </li>
            {% endfor %}
         </ul>
		<br/>
        <h1> Pending games </h1>
        <form action="{{ path('BundleChessBundle_multiplayer') }}" method="post" {{ form_enctype(form) }}>
        <ul>
            {% for key, value in pendingplayers %}
               <li class="multiplayer"> {{ key }}  
               		<input type="hidden" name="player" value="{{player1}}" />
               		<input type="hidden" name="gameid" value="{{value}}" />
               		<input type="submit" name="newPending" value="Play with {{key}}" />
               	</li>
            {% else %}
            	<li> There are no pending games at the moment. </li>
            {% endfor %}
        </ul>
		</form>
	</div>
	
	<div id="logout" class="button_control"> <a href="logout/{{player1}}"> Log out </a></div>
</div> 


{% endblock %}

