{# src/Bundle/ChessBundle/Resources/views/Game/newplayer.html.twig #}
{% extends 'BundleChessBundle::index.html.twig' %}

{% block sidebar %}
	<div class="notation_wrapper"><div style="background:#fff; padding:20px; width:350px;border:1px solid #ccc;border-radius:15px;margin:20px;"> 
		<h1> Welcome {{player1}}! </h1>
		
		<p> If you would like to start a new game there are two options: 
			<ol>
				<li> Play with someone next to you, enter their name and press new game </li>
				<li> Look at the list of other players online and invite any one of them to play with you </li>
			</ol>
		</p>
		<form action="{{ path('BundleChessBundle_game') }}" method="post" {{ form_enctype(form) }} class="players" id="playerform2">
	        {{ form_row(form.player2) }}
	        <input type="hidden" value="{{player1}}" name="player1"/>
			<input type="submit" name="submitFriend" value="Start a new game with my friend" />
		</form>
		

		<div id="error">  </div>
	</div>
	<div id="players" style="background:#fff; padding:20px; width:350px;border:1px solid #ccc;border-radius:15px;margin:20px;"> 
		<h1> Players </h1>
		<p> No  players are currently online. </p>
	</div>
</div>
{% endblock %}

